body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
    background-color: rgb(221, 202, 178);
}
select{
    width: 40%;
    height: 50px;
}
div{
    border-radius: 10;
}
button{
    width: 30%;
    height: 40px;
    size: 200%;
    background-color: aquamarine;
}
button:hover{
    background-color:aqua;
}